body{
	background-color:  lightblue;
}


h1{
	color: yellow;
}

p{
	color: #FF0000;
	font-family: Helvetica;
}

.large{
	font-size: 24px;
}
#small{
	font-size:  40px;
}
.specialcolor{
	color: black;
}